* {
  box-sizing: border-box;
}
.cardd {
  border-radius: 10px;
  width: 100%;
  margin: 30px 0px !important;
}
#card-bg {
  background: rgb(243, 160, 7);
}
button {
  background: rgb(31, 30, 30);
  position: relative;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  left: 10px;
  top: 5px;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px) {
  .row {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }
}

.card-main {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4vh;
  padding: 10px;
  color: white;
  margin: 10px auto 0 5px;
}
.card-right {
  display: flex;
  position: relative;
  background: white;
  color: rgb(243, 160, 7);
  border: 1px solid black;
  width: 40%;
  padding: 2.5px;
  right: -200px;
  top: -10px;
}
.card-right span {
  width: 50%;
  margin: auto 0;
  font-weight: bold;
}
img {
  width: 30%;
}
.card-footer {
  padding: 10px;
  font-size: 2vh;
}
.card-footer p {
  margin-top: -10px;
}
.card-footer a {
  text-decoration: none;
  color: rgb(121, 117, 117);
}
.card-icons {
  width: 30% !important;
  margin: 20px 0px !important;
}
#retweet {
  color: green;
}
#like {
  color: red;
}
.card-icons {
  display: flex;
}
i {
  margin-right: 5px;
}
#border {
  border-bottom: 1px solid rgb(167, 164, 164);
  width: 90%;
  margin: 0 auto 0 10px;
}

@media only screen and (max-width: 600px) {
}
